<template>
  <auth-container v-if="!auth.profile">
    <router-view />
  </auth-container>
</template>

<script lang="ts" setup>
import { useAuthStore } from "@/lib/store/auth";
import { computed, onBeforeMount, provide, ref } from "vue";
import { useRouter } from "vue-router";
import AuthContainer from "../../components/AuthContainer.vue";
const auth = useAuthStore();
const router = useRouter();
const email = ref("");
const password = ref("");
const remember = ref(false);
const entered = computed(() => !!email.value && !!password.value);
provide("email", email);
provide("password", password);
provide("remember", remember);
provide("entered", entered);
onBeforeMount(async () => {
  if (auth.profile) {
    await router.replace({ name: "dashboard" });
  }
});
</script>