<template>
  <template v-if="entered">
    <auth-title>
      {{ $t("auth.enterYourRecoveryCode") }}
      <template #description>
        {{
          $t("auth.pleaseEnterTheRecoveryCodeYouSavedWhileSecuringYourAccount")
        }}
      </template>
    </auth-title>
    <auth-sign-in-otp-recovery-form
      v-model:recovery-code="recoveryCode"
      :processing="processing"
      @submit="submit"
    />
  </template>
</template>

<script lang="ts" setup>
import { issuePasswordGrantAccessToken } from "@/lib/api/oauth";
import {
  InvalidCredentialsError,
  InvalidOtpRecoveryCodeError,
} from "@/lib/api/oauth/errors";
import { useAuthStore } from "@/lib/store/auth";
import { useToast } from "@/lib/ui/hooks/toast";
import { inject, onBeforeMount, ref, type Ref } from "vue";
import { useI18n } from "vue-i18n";
import { useRouter } from "vue-router";
import AuthSignInOtpRecoveryForm from "../../components/AuthSignInOtpRecoveryForm.vue";
import AuthTitle from "../../components/AuthTitle.vue";
const auth = useAuthStore();
const router = useRouter();
const i18n = useI18n();
const toast = useToast();
const entered = inject("entered") as Ref<boolean>;
const email = inject("email") as Ref<string>;
const password = inject("password") as Ref<string>;
const processing = ref(false);
const recoveryCode = ref("");
const submit = async () => {
  processing.value = true;
  try {
    const accessToken = await issuePasswordGrantAccessToken({
      username: email.value,
      password: password.value,
      otpRecoveryCode: recoveryCode.value,
    });
    await auth.authorize(accessToken);
    await router.replace({ name: "dashboard" });
  } catch (err) {
    if (err instanceof InvalidCredentialsError) {
      toast.error(err.message);
      await router.push({ name: "auth.login" });
    } else if (err instanceof InvalidOtpRecoveryCodeError) {
      toast.error(i18n.t("auth.invalidOtpRecoveryCodeEntered"));
    } else {
      throw err;
    }
  } finally {
    processing.value = false;
  }
};
onBeforeMount(async () => {
  if (!entered.value) {
    await router.push({ name: "auth.login" });
  }
});
</script>