<template>
  <template v-if="entered">
    <auth-title>
      {{ $t("auth.twoFactorAuthentication") }}
      <template #description>
        {{ $t("auth.yourAccountIsSecuredWithASecondAuthenticationMethod") }}
        <br />
        {{ $t("auth.getTheSixDigitCodeFromYourMobileApplication") }}
      </template>
    </auth-title>
    <auth-sign-in-otp-form
      v-model:otp="otp"
      v-model:trusted="trusted"
      :processing="processingOtpLogin"
      @submit="passwordOtpLogin"
    />
  </template>
</template>

<script lang="ts" setup>
import { issuePasswordGrantAccessToken } from "@/lib/api/oauth";
import {
  InvalidCredentialsError,
  InvalidOtpError,
} from "@/lib/api/oauth/errors";
import { useAuthStore } from "@/lib/store/auth";
import { useToast } from "@/lib/ui/hooks/toast";
import { inject, onBeforeMount, ref, type Ref } from "vue";
import { useI18n } from "vue-i18n";
import { useRouter } from "vue-router";
import AuthSignInOtpForm from "../../components/AuthSignInOtpForm.vue";
import AuthTitle from "../../components/AuthTitle.vue";
const auth = useAuthStore();
const router = useRouter();
const toast = useToast();
const i18n = useI18n();
const email = inject("email") as Ref<string>;
const password = inject("password") as Ref<string>;
const entered = inject("entered") as Ref<boolean>;
const processingOtpLogin = ref(false);
const otp = ref("");
const trusted = ref(false);
const passwordOtpLogin = async () => {
  processingOtpLogin.value = true;
  try {
    const accessToken = await issuePasswordGrantAccessToken({
      username: email.value,
      password: password.value,
      otp: otp.value,
      trusted: trusted.value,
    });
    await auth.authorize(accessToken);
    await router.replace({ name: "dashboard" });
  } catch (err) {
    if (err instanceof InvalidCredentialsError) {
      toast.error(err.message);
      await router.push({ name: "auth.login" });
    } else if (err instanceof InvalidOtpError) {
      toast.error(i18n.t("auth.invalidOrExpiredOtpEntered"));
    } else {
      throw err;
    }
  } finally {
    processingOtpLogin.value = false;
  }
};
onBeforeMount(async () => {
  if (!entered.value) {
    await router.push({ name: "auth.login" });
  }
});
</script>