<template>
  <auth-title>
    {{ $t("auth.loginToYourAccount") }}
  </auth-title>
  <auth-social-list>
    <auth-google-button
      :processing="processingGoogle"
      :disabled="processingPassword"
      @success="googleLogin"
    >
      {{ $t("auth.logInWithGoogle") }}
    </auth-google-button>
    <auth-facebook-button
      :processing="processingFacebook"
      :disabled="processingPassword"
      @success="facebookLogin"
    >
      {{ $t("auth.logInWithFacebook") }}
    </auth-facebook-button>
  </auth-social-list>
  <auth-password-option />
  <auth-sign-in-password-form
    v-model:email="email"
    v-model:password="password"
    v-model:remember="remember"
    :processing="processingPassword"
    @submit="passwordLogin"
  />
</template>

<script lang="ts" setup>
import {
  issueFacebookGrantAccessToken,
  issueGoogleGrantAccessToken,
  issuePasswordGrantAccessToken,
} from "@/lib/api/oauth";
import {
  InvalidCredentialsError,
  InvalidOtpError,
} from "@/lib/api/oauth/errors";
import { useAuthStore } from "@/lib/store/auth";
import { useToast } from "@/lib/ui/hooks/toast";
import { get } from "lodash";
import { inject, ref, type Ref } from "vue";
import { useRouter } from "vue-router";
import AuthFacebookButton from "../../components/AuthFacebookButton.vue";
import AuthGoogleButton from "../../components/AuthGoogleButton.vue";
import AuthPasswordOption from "../../components/AuthPasswordOption.vue";
import AuthSignInPasswordForm from "../../components/AuthSignInPasswordForm.vue";
import AuthSocialList from "../../components/AuthSocialList.vue";
import AuthTitle from "../../components/AuthTitle.vue";
const auth = useAuthStore();
const router = useRouter();
const toast = useToast();
const processingGoogle = ref(false);
const processingFacebook = ref(false);
const processingPassword = ref(false);
const email = inject("email") as Ref<string>;
const password = inject("password") as Ref<string>;
const remember = inject("remember") as Ref<boolean>;
async function googleLogin(token: string): Promise<void> {
  processingGoogle.value = true;
  try {
    const accessToken = await issueGoogleGrantAccessToken({
      token,
    });
    await auth.authorize(accessToken);
    await router.replace({ name: "dashboard" });
  } catch (err) {
    if (err instanceof InvalidCredentialsError) {
      toast.error(err.message);
    } else {
      throw err;
    }
  } finally {
    processingGoogle.value = false;
  }
}
async function facebookLogin(token: string): Promise<void> {
  processingFacebook.value = true;
  try {
    const accessToken = await issueFacebookGrantAccessToken({
      token,
    });
    await auth.authorize(accessToken);
    await router.replace({ name: "dashboard" });
  } catch (err) {
    if (err instanceof InvalidCredentialsError) {
      toast.error(err.message);
    } else {
      throw err;
    }
  } finally {
    processingFacebook.value = false;
  }
}
async function passwordLogin(): Promise<void> {
  processingPassword.value = true;
  try {
    const accessToken = await issuePasswordGrantAccessToken({
      username: email.value,
      password: password.value,
    });
    await auth.authorize(accessToken);
    await router.replace({ name: "dashboard" });
  } catch (err) {
    if (err instanceof InvalidOtpError) {
      await router.push({ name: "auth.login.otp" });
    } else {
      toast.error(get(err, "message"));
      throw err;
    }
  } finally {
    processingPassword.value = false;
  }
}
</script>